#job {
    background: white url("images/icon.png") repeat-x right;
    background-size: 300px 300px;
}

#centerpls {
    align-items: center;
    background-color: aqua;
    color: red;
}

#inputline {
    max-width: 200px;
}

body {
    background-image: url("images/violet1.png");
    background-size: cover;
}

#table-card {
    min-height: 400px;
    overflow: hidden;
}

#table-card table {
    width: 100%;
    margin-bottom: 0;
}